<div class="blog-container">
  <div class="row">
		<div class="col-md-8">
      <div class="blog-entries">
        <div class="blog-title">
          <%= blog.title %>

          <div class="blog-date">
            <%= blog.created_at.strftime("%B %d, %Y") %>
          </div>
        </div>

        <div class="blog-body">
          <%= blog.body %>
        </div>
      </div>
    </div>

    <div class="archives">
      <span class="archives-title">ARCHIVES</span><br>

      <% blogs.each do |blog| %>
        <%= link_to blog.created_at.strftime("%B %d, %Y"), blog_path(blog), class: "blog-link" %><br>
      <% end %><br>

      <%= link_to "HOME", blogs_path, class: "back-to-home" %>
    </div>
  </div>
</div>
